<ol class="breadcrumb">
  	<li>
  		<a href="#/oojs">Home</a>
  	</li>
    <li class="active">Understanding Objects</li>
</ol>
<h2>Defining Properties</h2>
<p>There are two ways to create our own objects with its properties:

<pre>
var book1 = {
	title: "Object Oriented Javascript",
	author: "Nicholas C. Zakas",
}

var book2 = new Object();
book2.title = "JavaScript: The Good Parts";
book2.author = "Douglas Crockford";
</pre>
</p>

<h2>Detecting Properties</h2>
<p>A reliable way to test if a property exist in the object is with <code>in</code> operator. The <code>in</code> operator returns <code>true</code> if the specified property (property or method property) is found in the specific object. So, in our example:
<pre>
var book = {
	title: "Object Oriented Javascript",
	author: "Nicholas C. Zakas",
}
console.log("title" in book); // output true
</pre>
</p>
<div class="panel panel-default">
  <div class="panel-body">
    <p>For more info you can check out this <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/in">article</a> from <i>Mozilla Develpment Network</i>
    </p>
  </div>
</div>
<p>When you want to check if the poperty is an own property or not you need to use <code>hasOwnProperty()</code> method. This method returns <code>true</code> if the given property exists and is and own property.
<pre>
var book = {
	title: "Object Oriented Javascript",
	author: "Nicholas C. Zakas",
}
console.log(book.hasOwnProperty("title")); // output true
console.log(book.hasOwnProperty("toString")); // output false
</pre>
</p>
<h2>Removing properties</h2>
<p>To remove an object property you must to use <code>delete</code> operator, setting a property to <code>null</code> only replace the value of the property.</p>
<p>This operator works on a single object property, removing a <i>key/value</i> pair from a hash table.</p>
<p>In our example:
<pre>
var book = {
  title: "Object Oriented Javascript",
  author: "Nicholas C. Zakas",
}
console.log(book.title); // output: Object Oriented Javascript
delete book.title
console.log("title" in book); // output: false
console.log(book.title); // output: undefined
</pre>
</p>
<h2>Enumeration</h2>
<p>All properties on an object are enumeralbes. Using the <code>propertyIsEnumerable()</code> (which is present on every object) method you can check wheter property is enumerable</p>
<p>Let's go check it in our example:
<pre>
var book = {
  title: "Object Oriented Javascript",
  author: "Nicholas C. Zakas",
}

console.log("title" in book);                    // true
console.log(book.propertyIsEnumerable("title")); // true
</pre>
</p>

<h2>Types of properties</h2>
<p>
  <ul>
    <li><b><i>Data properties</i></b>.- It contains a value.</li>
    <li><b><i>Accessor properties</i></b>. Define a function to call when the property is read and another function when the property is written-</li>
  </ul>
<pre>
var book = {
  _title: "Object Oriented Javascript",

  get title() {
    console.log("Getting the title");
    return this._title;
  },

  set title(value) {
    this._title = value;
    console.log("Setting a new title" + this._title);
  }
}

console.log(book.title);
// Getting the title "Object Oriented Javascript"
book.title = "Javascript The good parts"
console.log(book.title);
// Setting a new title "Javascript The good parts"
</pre>
</p>

<h2>Property attributes</h2>
<h3>Common atributes</h3>
<p>In objects, exist two property attributes shared between data and accesor properties:
<ul>
  <Li><b><i>Enumerable.-</i></b> Determines whether you can iterate over the property.</Li>
  <Li><b><i>Configurable.-</i></b> Determines whether the property can be changed.</Li>
</ul>
</p>
<p>By default, when you create a new object all properties are declared enumerable and configurable.</p>
<p>You can change property attributes using <code>.defineProperty()</code> method. This method accepts three arguments:
<ul>
  <li>The object.</li>
  <li>The property name</li>
  <li>Property descriptor object containing the attributes to set</li>
</ul>
<pre>
var book = {
  title: "Object Oriented Javascript",
}

var properties = Object.keys(book);
console.log(book.propertyIsEnumerable("title"))   // true
console.log(properties.lenght)                    // 1

// Setting enumerable property to false
Object.defineProperty(book, "title", {
  enumerable: false
});

console.log(book.propertyIsEnumerable("title"))   // false
console.log(properties.lenght)                    // 0

// Deleting properties
delete book.title;
console.log("title" in book);                     // false

// Adding title property again to configure as non configurable
book.title = "Object Oriented JavaScript";
console.log("title" in book);                      // true

Object.defineProperty(book, "title", {
  configurable: false
});

// try to delete title property

detele book.title;
console.log("title" in book);                      // false
console.log(book.title);                           // "Object Oriented JavaScript"

</pre>
</p>
<div class="alert alert-warning" role="alert">If you try to delete a nonconfigurable property when javascript is running in strict mode, this operation result an error. Otherwise the operatitan silenty fail.</div>
<h3>Data property attributes</h3>
<p>Data property has to addtional attributes that accessors don't:
<ul>
  <li><b><i>Value.-</i></b> Value (string or functiont) assigned to the property when you create a property on an object.</li>
  <li><b><i>Writable.-</i></b> Boolean value indicating wheter the property can be written to.</li>
</ul></p>
<p>When you define a property with <code>defineProperty()</code> method, it's important to specify all of the attribues because <code>Boolean</code> attributes are setting to <code>false</code> by default.</p>
<p>
<pre>
var book = {};

Object.defineProperty(book, "title", {
  value: "Object Oriented Javascript",
  writable: true,
  enumerable: true,
  configurable: true
});

console.log("title" in book);               // Object Oriented Javascript

book.title = "OOJS";
console.log(book.title);                    // OOJS

Object.defineProperty(book, "title", {
  writable: false
});

book.title = "Object Oriented Javascript"
console.log(book.title);                     // OOJS

</pre>
</p>
<div class="alert alert-warning" role="alert">In <b>strict mode</b> nonwritable properties thrown an error when you try to change the value. Otherwise silenty fails.</div>
<h3>Accessor property attributes</h3>
<p>Accessor properties have two additional properties:
<ul>
  <li><b><i>Get.- </i></b> Contains get function.</li>
  <li><b><i>Set.- </i></b> Contains set function.</li>
</ul></p>
<div class="alert alert-warning" role="alert">There is no value stored for accessor properties so they've not this properties. If you try to create this properties you'll get an error.</div>
<p>There're two ways to create accessor properties on an object:
<ul>
  <li>Defining this properties when you create the object literal.</li>
  <li>Using <code>.defineProperty()</code> method to add attributes to the object later you create the object.</li>
</ul></p>
<p>We can rewrite the previous example as follows:
<pre>
// Previews example
var book = {
  _title: "Object Oriented Javascript",

  get title() {
    console.log("Reading title");
    return this._title;
  },

  set title(value) {
    console.log("Setting new title");
    this._title = value;
  }
}

// Using defineProperty() method
var book = {
  _title: "Object Oriented Javascript"
}

Object.defineProperty(book, "title", {
  get: function() {
    console.log("Reading property");
    return this._title;
  },
  set: function(value) {
    console.log("Setting new title");
    this._title = value;
  },
  enumerable: true,
  configurable: true
})
</pre>
</p>
<h3>Defining multiple properties</h3>
<p>We can define several properties at once using <code>.defineProperties()</code> instead of <code>.defineProperty()</code> method. See the example below:
<pre>
 var book = {};

 Object.defineProperties(book, {
  // data property to store data
  _title: {
    value: "Object Oriented Javascript",
    enumerable: true,
    writable: true,
    configurable: true
  },

  // accessor property
  title: {
    get: function() {
      console.log("Reading property");
      return this._title;
    },
    set: function(value) {
      console.log("Setting new title");
      this._title = value;
    },
    enumerable: true,
    configurable: true
  }
 }); 
</pre>
</p>
<h3>Retrieving Property attributes</h3>
<p>You can do it using <code>.getOwnPropertyDescriptor()</code>, it only works with own properties. This method accepts tow arguments: the object and de property name to retrieve.</p>
<p>Example:
<pre>
 var book = {
  title: "Object Oriented Javascript"
 }

 var descriptor = Object.getOwnPropertyDescriptor(book, "title");

 console.log(descriptor.enumerable)    // true
 console.log(descriptor.configurable)  // true
 console.log(descriptor.writable)      // true
 console.log(descriptor.value)         // Object Oriented Javascript
</pre>
</p>
<h4>Preventing Object Modification</h4>